*.jl.cov
*.jl.*.cov
*.jl.mem

deps/downloads/
deps/usr32/
deps/usr64/
deps/LICENSE
deps/deps.jl
deps/usr
deps/*.log

.DS_Store

docs/build/
docs/site/
docs/src/examples/generated
docs/Manifest.toml

*.msh
